.blue-bg {
    color: white;
    background-image: url(../img/main-bg.svg);
}

.section {
    min-height: 100vh;
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding-left: 3rem;
    padding-right: 3rem;
}

.small-content {
    margin: 0 auto;
    max-width: 70rem;
    text-align: center;
}

.article-image {
    display: flex;
    flex-flow: row nowrap;
    gap: 3rem;
}

/* .in-row {
    display: flex;
    flex-flow: row nowrap;
    gap: 3rem;
} */

.larger-article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    margin-top: 8rem;
    gap: 3rem;
}

.larger-article .title-section {
    display: flex;
    flex-flow: row nowrap;
    gap: 3rem;
    align-items: flex-end;
}

.larger-article .big-number {
    display: block; 
    position: relative;
    top: 2rem;
    transform: rotate(5deg);
    font-family: var(--fonte-destaque);
    font-style: italic;
    /* font-weight: bold; */
    font-size: 6.5rem;
}

.div-table {
    width: 100%;
    overflow: auto;
    min-width: 60rem;
    margin-top: 4rem;
}

.span-grid {
    grid-column: 2 span;
}