.section {
    min-height: 100vh;
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding-left: 3rem;
    padding-right: 3rem;
}

.in-row {
    display: flex;
    flex-flow: row nowrap;
    gap: 3rem;
}

.section-articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.blue-bg {
    background-image: url(../img/main-bg.svg);
}