.white-bg h2 {
    color: var(--cor-primaria);
}

/* .section-articles > article{
    flex: 1 1 30rem;
} */

.section-articles .title-article {
    display: flex;
    flex-flow: row nowrap;
    gap: 3rem;
    align-items: flex-end;
}

.section-articles .big-number {
    display: block; 
    position: relative;
    top: 2rem;
    transform: rotate(5deg);
    font-family: var(--fonte-destaque);
    font-style: italic;
    /* font-weight: bold; */
    font-size: 6.5rem;
}

#intro .text-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    max-width: 70rem;
    gap: 1rem;
}
/* 
#intro .text-container p {
    margin: 3rem 0;
} */

#top3 .section-articles {
    margin-top: 8rem;
}

#grid-gallery {
    display: grid;
    grid-template-columns: repeat(3, 37rem);
    grid-template-rows: repeat(auto-fit, 40rem); 
    gap: 3rem;
    margin-top: 8rem;
}

#grid-gallery > span {
    overflow: hidden;
} 

#grid-gallery > span img {
    width: 100%;
    height: 100%;
    /* position: relative; */
    /* max-width: 37rem;
    max-height: 40rem; */
    overflow: hidden;
    transition: all .4s ease-in-out;
}

#grid-gallery > span img:hover {
    transform: rotate(5deg) scale(1.1);
}