.white-bg h2 {
    color: var(--cor-primaria);
}

.article-image > img {
    width: 60%;
    margin: 0 auto;
}

#grid-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, 40rem); 
    gap: 3rem;
    margin-top: 8rem;
}

#grid-gallery > span {
    overflow: hidden;
} 

#grid-gallery > span img {
    width: 100%;
    height: 100%;
    /* position: relative; */
    /* max-width: 37rem;
    max-height: 40rem; */
    transition: all 300ms ease-in-out;
}

#grid-gallery > span img:hover {
    transform: rotate(3deg) scale(1.2);
}

#content-form-contato {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

#content-form-contato div:nth-child(3), #content-form-contato div:nth-child(4) {
    grid-column: 2 span;
}


@media (max-width: 1199.98px) {
    
    #grid-gallery {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

}

@media (max-width: 991.98px) {

    .article-image {
        flex-flow: column nowrap;
    }

    .larger-article {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 767.98px) {

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3.5rem;
    }

    h3 {
        font-size: 2.8rem;
    }

    .article-image > img {
        width: 100%;
    }

    #grid-gallery {
        grid-template-columns: 1fr;
    }

    #content-form-contato div:nth-child(1), #content-form-contato div:nth-child(2) {
        grid-column: 2 span;
    }

}