.white-bg h2 {
    color: var(--cor-primaria);
}

/* #intro > article{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    max-width: 70rem;
    gap: 1rem;
} */

/* 
#intro .text-container p {
    margin: 3rem 0;
} */

#grid-gallery {
    display: grid;
    grid-template-columns: repeat(3, 37rem);
    grid-template-rows: repeat(auto-fit, 40rem); 
    gap: 3rem;
    margin-top: 8rem;
}

#grid-gallery > span {
    overflow: hidden;
} 

#grid-gallery > span img {
    width: 100%;
    height: 100%;
    /* position: relative; */
    /* max-width: 37rem;
    max-height: 40rem; */
    transition: all 300ms ease-in-out;
}

#grid-gallery > span img:hover {
    transform: rotate(3deg) scale(1.2);
}

.div-table > legend {
    font-size: 2rem;
    font-style: italic;
    text-align: left;
    padding: 1rem 0;
}

.div-table > table {
    width: 100%;
    border-collapse: collapse;
    font-size: 2.2rem;
}

